@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  font-size: 16px;
}

a, p, h1, h2, h3, h4, span, div {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
}

p, h1, h2, h3, h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.enter, .people-page {
  margin-top: 85px;
}